// Navigation Styles here
header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 6rem 2rem 6rem;
    border-bottom: 1.5px dashed @navigation-border;

    .navigate {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        width: 300px;
        font-family: 'Roboto', sans-serif;

        nav {
            display: flex;
            justify-content: space-around;
            font-size: 1.5rem;
            width: 300px;
            font-weight: bold;

            a {
                text-decoration: none;
                
            }
        }
    }
}//header